<footer>
    <p>
        Szablon strony internetowej wykonany na potrzeby zajęć z przedmiotu „Wybrane Środowiska Programowania”
        w ramach studiów na kierunku Informatyka w Społecznej Akademii Nauk w Łodzi.
        Szablon prezentuje podstawowe zagadnienia z zakresu HTML oraz CSS
    </p>
    <p class="stack">Stos technologiczny: HTML, CSS</p>
    <p>Projekt realizacji: Renat Abbasov © 2023 Społeczna Akademia Nauk w Łodzi</p>
</footer>
