@inherits LayoutComponentBase

<div class="container">
    

    <Header />

    <main>
        @Body
    </main>

    <Footer />
</div>

<div class="ocean-animation">
    <img src="img/giphy.webp" alt="Animacja ryby" />
</div>
<div class="ocean-animation2">
    <img src="img/giphy.gif" alt="" />
</div>
